@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="row center justify-content-center">
    <div class="col-lg-3 col-md-12 col-sm-12 pb-1 back">
         <img class="m3" src="~/img/kevin.png" alt="">
        <h3 class="text-yellow">Kevin</h3>
        <h4 class="text-white">Déveleppeur</h4>
        <p class="text-white">Déveleppeur depuis 5 ans chez LEGO PRESTIGIEUX Kevin s'occupe principalement du marketing du site.</p>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 pb-1 back">
          <img class="m3" src="~/img/RAPHAEL.png" alt="">
        <h3 class="text-yellow">Raphaël</h3>
        <h4 class="text-white">Déveleppeur</h4>
        <p class="text-white">Déveleppeur depuis 8 ans chez LEGO PRESTIGIEUX Raphaël est spécialisé dans le design du site.</p>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 pb-1 back">
          <img class="m3" src="~/img/loic.png" alt="">
        <h3 class="text-yellow">Loïc</h3>
        <h4 class="text-white">Déveleppeur</h4>
        <p class="text-white">Déveleppeur	Déveleppeur depuis 6 ans chez LEGO PRESTIGIEUX Loic s'occupe de la mise en ligne de nos produit.</p>
    </div>
</div>




